body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: rgb(164, 216, 60);
    font-family: Arial, Helvetica, sans-serif;
}

.bodyStyle {
    background-color: black;
    color: rgb(164, 216, 60);
    font-family: Arial, Helvetica, sans-serif;

    border-style: solid;
    border-width: .25em;
    border-radius: 1em;
    border-color: rgba(248, 156, 36, 0.795);
    margin: 1em;
    padding: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#mainButton {
    background-color: rgba(248, 156, 36, 0.795);
    font-size: larger;
    border: 0;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
    width: 15em;
    text-align: center;
    justify-self: center;
}

#mainButton:hover {
    background-color: rgb(120, 96, 187);
    color: rgb(193, 185, 219);
    cursor: url(https://cur.cursors-4u.net/toons/too-3/too227.cur), auto !important;
}

.deleteLine {
    width: 8em;
    background-color: rgba(248, 156, 36, 0.795);
    border: 0;
    border-radius: .25em;
}

.deleteLine:hover {
    background-color: rgb(120, 96, 187);
    color: rgb(193, 185, 219);
    cursor: url(https://cur.cursors-4u.net/toons/too-3/too227.cur), auto !important;
}

#bottomBanner {
    align-self: center;
}

li {
    margin: .25em;
}

#mainInput {
    border: .1em;
    border-radius: .25em;
    border-color: rgba(248, 156, 36, 0.795);
    border-style: solid;
    background-color: black;
    color: rgb(164, 216, 60);
}

html {
    cursor: url(https://cur.cursors-4u.net/toons/too-3/too227.cur), auto !important;
}